body {
    margin: 25px;
    padding: 25px;
    width: 100%;
    
  }
  
  .slider-container {
    width: 50%;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease; /* Smooth sliding transition */
  }
  
  .slider img {
    width: 100%;
    height: auto;
  }